/*Name: Sameer Adhikari
*/
body{
  background-color: skyblue;
}
/*height of the form fixed to 560 pixels*/
form{
height: 560px;
}
/*position and size of the border fixed for the form*/
fieldset{
  height: 555px;
  margin-top: 20px;
  background-color: #001E40;
  opacity: 0.8;
}
/*fonts details given for descriptive values of labels*/
label{
  font-size:2em;
  font-family:monospace;
}
/*size mainatined of all input setions*/
input{
  width: 50%;
  height: 6.5%;
  font-size: 1em;
}
/*position of the labels and input tags managed*/
.name{
margin-left: 135px;
color: white;
}
.name-box{
  margin-left: 20px;
  width: 40%;
}
.address{
margin-left: 88px;
color:white;
}
.address-box{
  margin-left: 32px;
  width: 40%;
}
.email{
margin-left: 120px;
color:white;
}
.email-box{
  margin-left: 30px;
  width: 40%;

}
.country{
margin-left: 90px;
color:white;
}
.country-box{
  margin-left: 29px;
  width: 10%;
  height: 8%;
  font-size: 1em;
}
.comment{
margin-left: 90px;
color:white;
}
.comment-box{
  margin-left: 29px;
  width: 40%;
  height: 40%;
}
textarea
{
  font-size: 1.2em;
}
.my-photo{
  height:300px;
  width:400px;
  margin-top: -410px;
  margin-left: 900px;
  z-index: 2;
  position: absolute;
  left:2%
}
.contact-text {
  position: absolute;
  margin-left: 985px;
  margin-top: -350px;
  z-index: 2;
}
.contact-text > p{
  font-size: 4em;
  font-family: monospace;
}
.send{
  width: 10%;
  height: 50px;
  font-size: 1.2em;
  color:black;
margin-left: 263px;
}
footer{
  margin-top:-763px;
}
